force-app/main/default/flows/LeadAfterSave.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ConvertLead</name>
        <label>Convert Lead</label>
        <locationX>831</locationX>
        <locationY>3485</locationY>
        <actionName>AutoConvertLeads</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SendSGC</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>leadsToConvert</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AutoConvertLeads</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendDataSGC</name>
        <label>Send Data to SGC</label>
        <locationX>564</locationX>
        <locationY>3579</locationY>
        <actionName>IntegrationSGCAfterFlow</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>newLeads</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IntegrationSGCAfterFlow</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>GetWebsiteFromLead</name>
        <label>Get Website From Lead</label>
        <locationX>930</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>WebSiteVariable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Website__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GellAllAssigmentGroup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NewOwnerAssigment</name>
        <label>New Owner</label>
        <locationX>776</locationX>
        <locationY>2609</locationY>
        <assignmentItems>
            <assignToReference>NewOwner</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AssignmentGroupMember.User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateLeadNewOwner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NewOwnerAssigmentMedia</name>
        <label>New Owner</label>
        <locationX>1018</locationX>
        <locationY>1343</locationY>
        <assignmentItems>
            <assignToReference>NewOwner</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>MemberMedia.User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateLeadNewOwnerMedia</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateMemberLastAssigmentDate</name>
        <label>Update Member Last Assigment Date</label>
        <locationX>776</locationX>
        <locationY>2825</locationY>
        <assignmentItems>
            <assignToReference>AssignmentGroupMember.LastAssignmentDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AssignmentGroupMember.NumberRecordsAssigned__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateAssignmentGroupMember</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateMemberMediaLastAssigmentDate</name>
        <label>Update Member Media Last Assigment Date</label>
        <locationX>1018</locationX>
        <locationY>1559</locationY>
        <assignmentItems>
            <assignToReference>MemberMedia.LastAssignmentDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>MemberMedia.NumberRecordsAssigned__c</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>UpdateAssignmentGroupMemberMedia</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>AssignmentGroupHasWebsite</name>
        <label>Assignment Group has Website ?</label>
        <locationX>1348</locationX>
        <locationY>1019</locationY>
        <defaultConnector>
            <targetReference>AssignmentGroupLoop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesLeadWebsiteContainsAssGroup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Website__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>AssignmentGroupLoop.Media__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MemberMedia</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>AutoConvert</name>
        <label>Auto Convert</label>
        <locationX>963</locationX>
        <locationY>3377</locationY>
        <defaultConnector>
            <targetReference>SendSGC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.WhatsYourInstagram__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Segmento__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Company</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.City</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.State</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ConvertLead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionIsNew</name>
        <label>Is New ?</label>
        <locationX>963</locationX>
        <locationY>371</locationY>
        <defaultConnector>
            <targetReference>AutoConvert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>OutcomeIsNewYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.isDuplicate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IsMarketingCloud</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasAssignmentGroup</name>
        <label>Has Assignment Group?</label>
        <locationX>1062</locationX>
        <locationY>2285</locationY>
        <defaultConnector>
            <targetReference>AutoConvert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesHasAssignmentGroup</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>AssignmentGroup</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AssignmentGroupMember</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasAssignmentGroupMember</name>
        <label>Has Assignment Group Member ?</label>
        <locationX>908</locationX>
        <locationY>2501</locationY>
        <defaultConnector>
            <targetReference>AutoConvert</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesHasAssignmentGroupMember</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AssignmentGroupMember</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewOwnerAssigment</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasMemberMedia</name>
        <label>Has Member ?</label>
        <locationX>1150</locationX>
        <locationY>1235</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>YesHasMemberMedia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MemberMedia</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewOwnerAssigmentMedia</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>HasWebsite</name>
        <label>Has Website ?</label>
        <locationX>1062</locationX>
        <locationY>587</locationY>
        <defaultConnector>
            <targetReference>AssignmentGroup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesIsMedia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Website__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetWebsiteFromLead</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsMarketingCloud</name>
        <label>Is Marketing Cloud ?</label>
        <locationX>534</locationX>
        <locationY>479</locationY>
        <defaultConnector>
            <targetReference>HasWebsite</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>YesIsMarketingCloud</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ConversaoMktCloud__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AutoConvert</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SendSGC</name>
        <label>Send to SGC  ?</label>
        <locationX>963</locationX>
        <locationY>3677</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>SendSGCYes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>005Hp00000hmgZqIAI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SendDataSGC</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>Media</name>
        <dataType>String</dataType>
        <expression>MID(
    {!$Record.Website__c}, 
    FIND(&quot;www.&quot;, {!$Record.Website__c}) + 4, 
    FIND(&quot;acelerai.com.br&quot;, {!$Record.Website__c}) - FIND(&quot;www.&quot;, {!$Record.Website__c}) - 4
)</expression>
    </formulas>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <interviewLabel>Lead - After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead - After Save</label>
    <loops>
        <name>AssignmentGroupLoop</name>
        <label>Assignment Group</label>
        <locationX>930</locationX>
        <locationY>911</locationY>
        <collectionReference>GellAllAssigmentGroup</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignmentGroupHasWebsite</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AssignmentGroup</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>AssignmentGroup</name>
        <label>Assignment Group</label>
        <locationX>1062</locationX>
        <locationY>2177</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HasAssignmentGroup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>Media__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssignmentGroup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>AssignmentGroupMember</name>
        <label>Assignment Group Member</label>
        <locationX>908</locationX>
        <locationY>2393</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HasAssignmentGroupMember</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>AssignmentGroup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssignmentGroup.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssignmentGroupMember__c</object>
        <sortField>LastAssignmentDate__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GellAllAssigmentGroup</name>
        <label>Gell All Assignment Group</label>
        <locationX>930</locationX>
        <locationY>803</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignmentGroupLoop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>AssignmentGroup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>MemberMedia</name>
        <label>Member Media</label>
        <locationX>1150</locationX>
        <locationY>1127</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>HasMemberMedia</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>AssignmentGroup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AssignmentGroupLoop.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssignmentGroupMember__c</object>
        <sortField>LastAssignmentDate__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateAssignmentGroupMember</name>
        <label>Update Assignment Group Member</label>
        <locationX>776</locationX>
        <locationY>2933</locationY>
        <connector>
            <targetReference>AutoConvert</targetReference>
        </connector>
        <inputReference>AssignmentGroupMember</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateAssignmentGroupMemberMedia</name>
        <label>Update Assignment Group Member Media</label>
        <locationX>1018</locationX>
        <locationY>1667</locationY>
        <connector>
            <targetReference>AutoConvert</targetReference>
        </connector>
        <inputReference>MemberMedia</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateLeadNewOwner</name>
        <label>Update Lead New Owner</label>
        <locationX>776</locationX>
        <locationY>2717</locationY>
        <connector>
            <targetReference>UpdateMemberLastAssigmentDate</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>NewOwner</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateLeadNewOwnerMedia</name>
        <label>Update Lead New Owner Media</label>
        <locationX>1018</locationX>
        <locationY>1451</locationY>
        <connector>
            <targetReference>UpdateMemberMediaLastAssigmentDate</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>NewOwner</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>837</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>DecisionIsNew</targetReference>
        </connector>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>MediaVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WebSiteVariable</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
