force-app/main/default/flows/NewCaseFromWonOpportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Verifica_funil_Varejo</name>
        <label>Verifica funil de Varejo</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Varejo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Funnel__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Varejo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_new_case</targetReference>
            </connector>
            <label>É varejo</label>
        </rules>
    </decisions>
    <description>Cria um novo caso quando a oportunidade está marcada como &quot;Ganho&quot; ou &quot;Closed Won&quot; no funil de Varejo</description>
    <environments>Default</environments>
    <interviewLabel>New case from won Opp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New case from won opportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_new_case</name>
        <label>Create new case</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CNPJ__c</field>
            <value>
                <elementReference>$Record.CNPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CelebridadesLiberadas__c</field>
            <value>
                <elementReference>$Record.CelebridadesLiberadas__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientsObjectiveWithAcelerai__c</field>
            <value>
                <elementReference>$Record.ClientsObjectiveWithAcelerai__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CompanyAge__c</field>
            <value>
                <elementReference>$Record.CompanyAge__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HaveCurrentlyAgency__c</field>
            <value>
                <elementReference>$Record.HaveCurrentlyAgency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Id_da_Oportunidade__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JaFoiAnunciante__c</field>
            <value>
                <elementReference>$Record.Ja_foi_anunciante__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MonthlyInvestmentMedia_Content__c</field>
            <value>
                <elementReference>$Record.MonthlyInvestmentMedia_Content__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumberEmployees__c</field>
            <value>
                <elementReference>$Record.NumberEmployees__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuandoPretendeAnunciar__c</field>
            <value>
                <elementReference>$Record.QuandoPretendeAnunciar__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Score__c</field>
            <value>
                <elementReference>$Record.Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StateYourCompany__c</field>
            <value>
                <elementReference>$Record.StateYourCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Veiculacao__c</field>
            <value>
                <elementReference>$Record.Veiculacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatsYourInstagram__c</field>
            <value>
                <elementReference>$Record.WhatsYourInstagram__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatsYourRole__c</field>
            <value>
                <elementReference>$Record.WhatsYourRole__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Verifica_funil_Varejo</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ganho</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ganho Pagamento Futuro</stringValue>
            </value>
        </filters>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <triggerOrder>2</triggerOrder>
</Flow>
