force-app/main/default/flows/OpportunityAfterSave.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CriarProdutosCotacaoMidiasVendas</name>
        <label>Criar Produtos Cotação Mídias Vendas</label>
        <locationX>50</locationX>
        <locationY>3131</locationY>
        <actionName>QuoteLineItemService</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>insertedQuotes</name>
            <value>
                <elementReference>CotacoesParaInserir</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteLinesToClone</name>
            <value>
                <elementReference>BuscarProdutosCotacaoVarejo</elementReference>
            </value>
        </inputParameters>
        <nameSegment>QuoteLineItemService</nameSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>AdicionarCotacao</name>
        <label>Adicionar Cotação</label>
        <locationX>270</locationX>
        <locationY>2399</locationY>
        <assignmentItems>
            <assignToReference>CotacoesParaInserir</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CotacaoMidiaVenda</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AdicionarIdsCotacaoVarejo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AdicionarIdsCotacaoVarejo</name>
        <label>Adicionar Ids Cotação Varejo</label>
        <locationX>270</locationX>
        <locationY>2507</locationY>
        <assignmentItems>
            <assignToReference>CotacoesIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PercorrerCotacoesOppVarejo.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PercorrerCotacoesOppVarejo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AdicionarProdutoOpp</name>
        <label>Adicionar Produto Opp</label>
        <locationX>270</locationX>
        <locationY>1883</locationY>
        <assignmentItems>
            <assignToReference>ProdutosOportunidadeParaInserir</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ProdutoOportunidade</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PercorrerProdutosOppVarejo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GerarCotacaoMidiasVendas</name>
        <label>Gerar Cotação Mídias Vendas</label>
        <locationX>270</locationX>
        <locationY>2291</locationY>
        <assignmentItems>
            <assignToReference>CotacaoMidiaVenda.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercorrerCotacoesOppVarejo.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CotacaoMidiaVenda.NumeroProposta__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercorrerCotacoesOppVarejo.NumeroProposta__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CotacaoMidiaVenda.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercorrerCotacoesOppVarejo.Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CotacaoMidiaVenda.ValorDesconto__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercorrerCotacoesOppVarejo.ValorDesconto__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CotacaoMidiaVenda.ExpirationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercorrerCotacoesOppVarejo.ExpirationDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CotacaoMidiaVenda.DatadePagamento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercorrerCotacoesOppVarejo.DatadePagamento__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CotacaoMidiaVenda.PorcentagemAcrescimoModoPagamento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercorrerCotacoesOppVarejo.PorcentagemAcrescimoModoPagamento__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CotacaoMidiaVenda.PorcentagemDescontoModoPagamento__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercorrerCotacoesOppVarejo.PorcentagemDescontoModoPagamento__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CotacaoMidiaVenda.Valor_Final__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercorrerCotacoesOppVarejo.Valor_Final__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CotacaoMidiaVenda.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercorrerCotacoesOppVarejo.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CotacaoMidiaVenda.PaymentMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercorrerCotacoesOppVarejo.PaymentMethod__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CotacaoMidiaVenda.ImageRightsValue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercorrerCotacoesOppVarejo.ImageRightsValue__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CotacaoMidiaVenda.CampaignAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercorrerCotacoesOppVarejo.CampaignAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CotacaoMidiaVenda.PieceAmount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercorrerCotacoesOppVarejo.PieceAmount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CotacaoMidiaVenda.CommercialPolicy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercorrerCotacoesOppVarejo.CommercialPolicy__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CotacaoMidiaVenda.ProposalSubmissionDates__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercorrerCotacoesOppVarejo.ProposalSubmissionDates__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CotacaoMidiaVenda.Sincronizado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercorrerCotacoesOppVarejo.Sincronizado__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CotacaoMidiaVenda.PagamentoFuturo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercorrerCotacoesOppVarejo.PagamentoFuturo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CotacaoMidiaVenda.VendaFutura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercorrerCotacoesOppVarejo.VendaFutura__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CotacaoMidiaVenda.DataPagamentoFuturo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercorrerCotacoesOppVarejo.DataPagamentoFuturo__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CotacaoMidiaVenda.DataVendaFutura__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercorrerCotacoesOppVarejo.DataVendaFutura__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CotacaoMidiaVenda.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercorrerCotacoesOppVarejo.ContactId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CotacaoMidiaVenda.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercorrerCotacoesOppVarejo.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CotacaoMidiaVenda.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercorrerCotacoesOppVarejo.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CotacaoMidiaVenda.Fax</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercorrerCotacoesOppVarejo.Fax</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CotacaoMidiaVenda.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercorrerCotacoesOppVarejo.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CotacaoMidiaVenda.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriarOppMidiasVendas</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CotacaoMidiaVenda.CotacaoClonadaId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercorrerCotacoesOppVarejo.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CotacaoMidiaVenda.Pricebook2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercorrerCotacoesOppVarejo.Pricebook2Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AdicionarCotacao</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>GerarProdutoOppMidiasVendas</name>
        <label>Gerar Produto Opp Mídias Vendas</label>
        <locationX>270</locationX>
        <locationY>1775</locationY>
        <assignmentItems>
            <assignToReference>ProdutoOportunidade.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CriarOppMidiasVendas</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProdutoOportunidade.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercorrerProdutosOppVarejo.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProdutoOportunidade.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercorrerProdutosOppVarejo.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProdutoOportunidade.ListPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercorrerProdutosOppVarejo.ListPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProdutoOportunidade.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercorrerProdutosOppVarejo.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProdutoOportunidade.ProductCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercorrerProdutosOppVarejo.ProductCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProdutoOportunidade.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercorrerProdutosOppVarejo.PricebookEntryId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProdutoOportunidade.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercorrerProdutosOppVarejo.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ProdutoOportunidade.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PercorrerProdutosOppVarejo.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AdicionarProdutoOpp</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IdResponsavelGrupo</name>
        <label>Id Responsavel do Grupo</label>
        <locationX>182</locationX>
        <locationY>1235</locationY>
        <assignmentItems>
            <assignToReference>var_IdResponsavel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuscarGrupoAtribuicao.Responsible__r.User__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BuscarRecordTypeMidiasVendas</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IdUsuarioSemGrupo</name>
        <label>Id Usuário sem Grupo</label>
        <locationX>578</locationX>
        <locationY>1343</locationY>
        <assignmentItems>
            <assignToReference>var_IdResponsavel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BuscarUsuario.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>BuscarRecordTypeMidiasVendas</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CriarOportunidadeMidia</name>
        <label>Criar Oportunidade Mídia ?</label>
        <locationX>858</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>SimMidiaPreenchido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Media__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BuscarGrupoAtribuicao</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>GanhaDecision</name>
        <label>Ganha ?</label>
        <locationX>1056</locationX>
        <locationY>548</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>Sim</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4) AND 5 AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ganho</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ganho Pagamento Futuro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Won</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Ganho</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Ganho Pagamento Futuro</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>isVarejo</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>GrupoPossuiResponsavel</name>
        <label>Grupo Possui Responsável?</label>
        <locationX>611</locationX>
        <locationY>911</locationY>
        <defaultConnector>
            <targetReference>BuscarUsuario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não Possui</defaultConnectorLabel>
        <rules>
            <name>Possui</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BuscarGrupoAtribuicao</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BuscarGrupoAtribuicao.Responsible__r.User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MembrosGrupo</targetReference>
            </connector>
            <label>Possui</label>
        </rules>
    </decisions>
    <decisions>
        <name>isVarejo</name>
        <label>Oportunidade é de Varejo ?</label>
        <locationX>881</locationX>
        <locationY>549</locationY>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>YesIsVarejo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Varejo</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateCase</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProproetarioPossuiGrupo</name>
        <label>Proprietário Possui Grupo?</label>
        <locationX>380</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>BuscarUsuario</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>ProproetarioResponsavel_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>MembrosGrupo.User__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>MembrosGrupo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IdResponsavelGrupo</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>UpdateCloseDate</name>
        <label>Atualizar Data Fechamento ?</label>
        <locationX>1365</locationX>
        <locationY>379</locationY>
        <defaultConnector>
            <targetReference>GanhaDecision</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Não</defaultConnectorLabel>
        <rules>
            <name>YesUpdateCloseDate</name>
            <conditionLogic>(1 AND 2 AND 3) OR ( 3 AND 4 AND 5 AND 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Venda Futura</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Ganho</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.StageName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Ganho Pagamento Futuro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Venda Futura</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdatedCloseDate</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>VerificarListasCotacaoProduto</name>
        <label>Verificar Listas de Cotação e Produto</label>
        <locationX>182</locationX>
        <locationY>3023</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Preenchidos</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>CotacoesParaInserir</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>BuscarProdutosCotacaoVarejo</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CriarProdutosCotacaoMidiasVendas</targetReference>
            </connector>
            <label>Preenchidos</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Opportunity - After Save {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity - After Save</label>
    <loops>
        <name>PercorrerCotacoesOppVarejo</name>
        <label>Percorrer Cotações Opp Varejo</label>
        <locationX>182</locationX>
        <locationY>2183</locationY>
        <collectionReference>BuscarCotaoesOppVarejo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GerarCotacaoMidiasVendas</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CriarCotacoesMidiasVendas</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>PercorrerProdutosOppVarejo</name>
        <label>Percorrer Produtos Opp Varejo</label>
        <locationX>182</locationX>
        <locationY>1667</locationY>
        <collectionReference>BuscarProdutosOppVarejo</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GerarProdutoOppMidiasVendas</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>BuscarCotaoesOppVarejo</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateCase</name>
        <label>Criar Caso</label>
        <locationX>692</locationX>
        <locationY>545</locationY>
        <connector>
            <targetReference>CriarOportunidadeMidia</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CNPJ__c</field>
            <value>
                <elementReference>$Record.CNPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CelebridadesLiberadas__c</field>
            <value>
                <elementReference>$Record.CelebridadesLiberadas__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientsObjectiveWithAcelerai__c</field>
            <value>
                <elementReference>$Record.ClientsObjectiveWithAcelerai__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CompanyAge__c</field>
            <value>
                <elementReference>$Record.CompanyAge__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HaveCurrentlyAgency__c</field>
            <value>
                <elementReference>$Record.HaveCurrentlyAgency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Id_da_Oportunidade__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JaFoiAnunciante__c</field>
            <value>
                <elementReference>$Record.Ja_foi_anunciante__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MonthlyInvestmentMedia_Content__c</field>
            <value>
                <elementReference>$Record.MonthlyInvestmentMedia_Content__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumberEmployees__c</field>
            <value>
                <elementReference>$Record.NumberEmployees__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuandoPretendeAnunciar__c</field>
            <value>
                <elementReference>$Record.QuandoPretendeAnunciar__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Score__c</field>
            <value>
                <elementReference>$Record.Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StateYourCompany__c</field>
            <value>
                <elementReference>$Record.StateYourCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Veiculacao__c</field>
            <value>
                <elementReference>$Record.Veiculacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatsYourInstagram__c</field>
            <value>
                <elementReference>$Record.WhatsYourInstagram__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatsYourRole__c</field>
            <value>
                <elementReference>$Record.WhatsYourRole__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CriarCotacoesMidiasVendas</name>
        <label>Criar Cotações Mídias Vendas</label>
        <locationX>182</locationX>
        <locationY>2699</locationY>
        <connector>
            <targetReference>BuscarProdutosCotacaoVarejo</targetReference>
        </connector>
        <inputReference>CotacoesParaInserir</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CriarOppMidiasVendas</name>
        <label>Criar Opp Mídias Vendas</label>
        <locationX>182</locationX>
        <locationY>1451</locationY>
        <connector>
            <targetReference>BuscarProdutosOppVarejo</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Agencia__c</field>
            <value>
                <elementReference>$Record.Agencia__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CNPJ__c</field>
            <value>
                <elementReference>$Record.CNPJ__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CelebridadesLiberadas__c</field>
            <value>
                <elementReference>$Record.CelebridadesLiberadas__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Cidade__c</field>
            <value>
                <elementReference>$Record.Cidade__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClientsObjectiveWithAcelerai__c</field>
            <value>
                <elementReference>$Record.ClientsObjectiveWithAcelerai__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CompanyAge__c</field>
            <value>
                <elementReference>$Record.CompanyAge__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContatoComprador__c</field>
            <value>
                <elementReference>$Record.ContatoComprador__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContatoFinanceiro__c</field>
            <value>
                <elementReference>$Record.ContatoFinanceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContatoJuridico__c</field>
            <value>
                <elementReference>$Record.ContatoJuridico__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContatosMarketing__c</field>
            <value>
                <elementReference>$Record.ContatosMarketing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContractStartDate__c</field>
            <value>
                <elementReference>$Record.ContractStartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Emaill__c</field>
            <value>
                <elementReference>$Record.Emaill__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EndOfContractDate__c</field>
            <value>
                <elementReference>$Record.EndOfContractDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Funnel__c</field>
            <value>
                <stringValue>Mídias Vendas</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HaveCurrentlyAgency__c</field>
            <value>
                <elementReference>$Record.HaveCurrentlyAgency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ja_foi_anunciante__c</field>
            <value>
                <elementReference>$Record.Ja_foi_anunciante__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LetraScoreFinal__c</field>
            <value>
                <elementReference>$Record.LetraScoreFinal__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Loss_Reason__c</field>
            <value>
                <elementReference>$Record.Loss_Reason__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MonthlyInvestmentMedia_Content__c</field>
            <value>
                <elementReference>$Record.MonthlyInvestmentMedia_Content__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NumberEmployees__c</field>
            <value>
                <elementReference>$Record.NumberEmployees__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityEntryDates_byStage__c</field>
            <value>
                <elementReference>$Record.OpportunityEntryDates_byStage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>var_IdResponsavel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentLink_sendingDate__c</field>
            <value>
                <elementReference>$Record.PaymentLink_sendingDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Probability</field>
            <value>
                <elementReference>$Record.Probability</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuandoPretendeAnunciar__c</field>
            <value>
                <elementReference>$Record.QuandoPretendeAnunciar__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>BuscarRecordTypeMidiasVendas.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referencia_base_antiga__c</field>
            <value>
                <elementReference>$Record.Referencia_base_antiga__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedOpportunity__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SaleType__c</field>
            <value>
                <elementReference>$Record.SaleType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Score__c</field>
            <value>
                <elementReference>$Record.Score__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Segmento__c</field>
            <value>
                <elementReference>$Record.Segmento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Sem contato Mídia</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StateYourCompany__c</field>
            <value>
                <elementReference>$Record.StateYourCompany__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Telefone1__c</field>
            <value>
                <elementReference>$Record.Telefone1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_cliente__c</field>
            <value>
                <elementReference>$Record.Tipo_de_cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Campaign__c</field>
            <value>
                <elementReference>$Record.UTM_Campaign__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Content__c</field>
            <value>
                <elementReference>$Record.UTM_Content__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Medium__c</field>
            <value>
                <elementReference>$Record.UTM_Medium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Source__c</field>
            <value>
                <elementReference>$Record.UTM_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UTM_Term__c</field>
            <value>
                <elementReference>$Record.UTM_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Veiculacao__c</field>
            <value>
                <elementReference>$Record.Veiculacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vendedor_Varejo__c</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatsYourInstagram__c</field>
            <value>
                <elementReference>$Record.WhatsYourInstagram__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatsYourRole__c</field>
            <value>
                <elementReference>$Record.WhatsYourRole__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CriarProdutosOppMidiasVendas</name>
        <label>Criar Produtos Opp Mídias Vendas</label>
        <locationX>182</locationX>
        <locationY>2915</locationY>
        <connector>
            <targetReference>VerificarListasCotacaoProduto</targetReference>
        </connector>
        <inputReference>ProdutosOportunidadeParaInserir</inputReference>
    </recordCreates>
    <recordLookups>
        <name>BuscarCotaoesOppVarejo</name>
        <label>Buscar Cotações Opp Varejo</label>
        <locationX>182</locationX>
        <locationY>2075</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PercorrerCotacoesOppVarejo</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sincronizado__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>PagamentoFuturo__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>VendaFutura__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>BuscarGrupoAtribuicao</name>
        <label>Buscar Grupo de Atribuição</label>
        <locationX>611</locationX>
        <locationY>803</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GrupoPossuiResponsavel</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssignmentGroup__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>BuscarProdutosCotacaoVarejo</name>
        <label>Buscar Produtos Cotação Varejo</label>
        <locationX>182</locationX>
        <locationY>2807</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CriarProdutosOppMidiasVendas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>In</operator>
            <value>
                <elementReference>CotacoesIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>BuscarProdutosOppVarejo</name>
        <label>Buscar Produtos Opp Varejo</label>
        <locationX>182</locationX>
        <locationY>1559</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PercorrerProdutosOppVarejo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>BuscarRecordTypeMidiasVendas</name>
        <label>Buscar Record Type Mídias Vendas</label>
        <locationX>182</locationX>
        <locationY>1343</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CriarOppMidiasVendas</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MidiasVendas</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>BuscarUsuario</name>
        <label>Buscar Usuário</label>
        <locationX>578</locationX>
        <locationY>1235</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>IdUsuarioSemGrupo</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Marcos Torres</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Luis Armando</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>MembrosGrupo</name>
        <label>Membros do Grupo</label>
        <locationX>380</locationX>
        <locationY>1019</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ProproetarioPossuiGrupo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssignmentGroup__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>BuscarGrupoAtribuicao.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>AssignmentGroupMember__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdatedCloseDate</name>
        <label>Atualiza Data Fechamento</label>
        <locationX>1374</locationX>
        <locationY>591</locationY>
        <connector>
            <targetReference>GanhaDecision</targetReference>
        </connector>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>1248</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>UpdateCloseDate</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CotacaoMidiaVenda</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>CotacoesIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CotacoesParaInserir</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>ProdutoOportunidade</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>ProdutosOportunidadeParaInserir</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>var_IdResponsavel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
