force-app/main/default/flows/PreView_RequiredFields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>ExternalAPI</name>
        <label>ExternalAPI</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <actionName>IntegrationSGCFlowService</actionName>
        <actionType>apex</actionType>
        <dataTypeMappings>
            <typeName>T__payload</typeName>
            <typeValue>Opportunity</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>payload</name>
            <value>
                <elementReference>varListOpps</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <elementReference>TypeObject</elementReference>
            </value>
        </inputParameters>
        <nameSegment>IntegrationSGCFlowService</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>ListOpp</name>
        <label>ListOpp</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>varListOpps</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Campos_de_Oportunidade</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ExternalAPI</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Campo_Formulario_Preenchido</name>
        <label>Campo Formulário Preenchido?</label>
        <locationX>182</locationX>
        <locationY>674</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SimCampoFormulario</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Campos_de_Oportunidade.Formulario_Preenchido__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ListOpp</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <decisions>
        <name>Campos_Preenchidos</name>
        <label>Campos Preenchidos?</label>
        <locationX>380</locationX>
        <locationY>458</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SimPreenchido</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Campos_de_Oportunidade.SaleType__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Campos_de_Oportunidade.Veiculacao__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Campos_de_Oportunidade.ClientsObjectiveWithAcelerai__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Campos_de_Oportunidade.ContatoComprador__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Campos_de_Oportunidade.ContatoJuridico__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Campos_de_Oportunidade.ContatosMarketing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Campos_de_Oportunidade.ContatoFinanceiro__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Campos_de_Oportunidade.Tipo_de_cliente__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Campos_de_Oportunidade.Pol_tica_Comercial__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Campos_de_Oportunidade.QuandoPretendeAnunciar__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Campos_de_Oportunidade.MonthlyInvestmentMedia_Content__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Campos_de_Oportunidade.Ja_foi_anunciante__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Campos_de_Oportunidade.HaveCurrentlyAgency__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Campos_de_Oportunidade.WhatsYourRole__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Formul_rio_Preenchido</targetReference>
            </connector>
            <label>Sim</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Pré-visualização de Campos Obrigatórios {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Pré-visualização de Campos Obrigatórios</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Campos_de_Oportunidade</name>
        <label>Campos de Oportunidade</label>
        <locationX>380</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Formulario</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Atualizar_Oportunidade</name>
        <label>Atualizar Oportunidade</label>
        <locationX>380</locationX>
        <locationY>350</locationY>
        <connector>
            <targetReference>Campos_Preenchidos</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>ClientsObjectiveWithAcelerai__c</field>
            <value>
                <elementReference>Campos_de_Oportunidade.ClientsObjectiveWithAcelerai__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContatoComprador__c</field>
            <value>
                <elementReference>Campos_de_Oportunidade.ContatoComprador__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContatoFinanceiro__c</field>
            <value>
                <elementReference>Campos_de_Oportunidade.ContatoFinanceiro__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContatoJuridico__c</field>
            <value>
                <elementReference>Campos_de_Oportunidade.ContatoJuridico__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContatosMarketing__c</field>
            <value>
                <elementReference>Campos_de_Oportunidade.ContatosMarketing__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HaveCurrentlyAgency__c</field>
            <value>
                <elementReference>Campos_de_Oportunidade.HaveCurrentlyAgency__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ja_foi_anunciante__c</field>
            <value>
                <elementReference>Campos_de_Oportunidade.Ja_foi_anunciante__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MonthlyInvestmentMedia_Content__c</field>
            <value>
                <elementReference>Campos_de_Oportunidade.MonthlyInvestmentMedia_Content__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pol_tica_Comercial__c</field>
            <value>
                <elementReference>Campos_de_Oportunidade.Pol_tica_Comercial__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>QuandoPretendeAnunciar__c</field>
            <value>
                <elementReference>Campos_de_Oportunidade.QuandoPretendeAnunciar__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SaleType__c</field>
            <value>
                <elementReference>Campos_de_Oportunidade.SaleType__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Segmento__c</field>
            <value>
                <elementReference>Campos_de_Oportunidade.Segmento__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tipo_de_cliente__c</field>
            <value>
                <elementReference>Campos_de_Oportunidade.Tipo_de_cliente__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Veiculacao__c</field>
            <value>
                <elementReference>Campos_de_Oportunidade.Veiculacao__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatsYourRole__c</field>
            <value>
                <elementReference>Campos_de_Oportunidade.WhatsYourRole__c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Formul_rio_Preenchido</name>
        <label>Formulário Preenchido?</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Campo_Formulario_Preenchido</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Campos_de_Oportunidade.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Formulario_Preenchido__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <screens>
        <name>Formulario</name>
        <label>Formulário</label>
        <locationX>380</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Atualizar_Oportunidade</targetReference>
        </connector>
        <fields>
            <name>OportunidadeSection</name>
            <fieldText>Oportunidade</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>OportunidadeSection_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Campos_de_Oportunidade.SaleType__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Campos_de_Oportunidade.SaleType__c</leftValueReference>
                            <operator>EqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Campos_de_Oportunidade.Tipo_de_cliente__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Campos_de_Oportunidade.Tipo_de_cliente__c</leftValueReference>
                            <operator>EqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Campos_de_Oportunidade.WhatsYourRole__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Campos_de_Oportunidade.WhatsYourRole__c</leftValueReference>
                            <operator>EqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Campos_de_Oportunidade.Ja_foi_anunciante__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Campos_de_Oportunidade.Ja_foi_anunciante__c</leftValueReference>
                            <operator>EqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Campos_de_Oportunidade.QuandoPretendeAnunciar__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Campos_de_Oportunidade.QuandoPretendeAnunciar__c</leftValueReference>
                            <operator>EqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Campos_de_Oportunidade.MonthlyInvestmentMedia_Content__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Campos_de_Oportunidade.MonthlyInvestmentMedia_Content__c</leftValueReference>
                            <operator>EqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Campos_de_Oportunidade.HaveCurrentlyAgency__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Campos_de_Oportunidade.HaveCurrentlyAgency__c</leftValueReference>
                            <operator>EqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Campos_de_Oportunidade.Pol_tica_Comercial__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Campos_de_Oportunidade.Pol_tica_Comercial__c</leftValueReference>
                            <operator>EqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Campos_de_Oportunidade.Veiculacao__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Campos_de_Oportunidade.Veiculacao__c</leftValueReference>
                            <operator>EqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Campos_de_Oportunidade.ClientsObjectiveWithAcelerai__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Campos_de_Oportunidade.ClientsObjectiveWithAcelerai__c</leftValueReference>
                            <operator>EqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Campos_de_Oportunidade.ContatoComprador__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Campos_de_Oportunidade.ContatoComprador__c</leftValueReference>
                            <operator>EqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Campos_de_Oportunidade.ContatoFinanceiro__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Campos_de_Oportunidade.ContatoFinanceiro__c</leftValueReference>
                            <operator>EqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Campos_de_Oportunidade.ContatoJuridico__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Campos_de_Oportunidade.ContatoJuridico__c</leftValueReference>
                            <operator>EqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>Campos_de_Oportunidade.ContatosMarketing__c</objectFieldReference>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Campos_de_Oportunidade.ContatosMarketing__c</leftValueReference>
                            <operator>EqualTo</operator>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Campos_de_Oportunidade</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TypeObject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </variables>
    <variables>
        <name>varListOpps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
</Flow>
