force-app/main/default/flows/pUpdate_Update_score.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>atribui_o_de_lead2</name>
        <label>atribuição de lead2</label>
        <locationX>176</locationX>
        <locationY>515</locationY>
        <actionName>invocableApplyLeadAssignmentRules</actionName>
        <actionType>invocableApplyLeadAssignmentRules</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>leadId</name>
            <value>
                <elementReference>$Record.Owner:Group.OwnerId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>invocableApplyLeadAssignmentRules</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <decisions>
        <name>Atribui_o_por_score</name>
        <label>Atribuição por score</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>atribui_o_de_lead2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Erro</defaultConnectorLabel>
        <rules>
            <name>X70</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Score__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>70.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>atribui_o_de_lead2</targetReference>
            </connector>
            <label>70</label>
        </rules>
        <rules>
            <name>X50_69</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Score__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>69.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Score__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>50.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>atribui_o_de_lead2</targetReference>
            </connector>
            <label>50 - 69</label>
        </rules>
        <rules>
            <name>update_a</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Score__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Score__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>49.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>atribui_o_de_lead2</targetReference>
            </connector>
            <label>30 - 49</label>
        </rules>
        <rules>
            <name>X30</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Score__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>30.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>atribui_o_de_lead2</targetReference>
            </connector>
            <label>&lt;30</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>pUpdate Update score {!$Flow.CurrentDateTime}</interviewLabel>
    <label>pUpdate Update score</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Atribui_o_por_score</targetReference>
        </connector>
        <filterFormula>NOT(ISNULL({!$Record.Score__c}))</filterFormula>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
