force-app/main/default/flows/SincronizarQuote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SincronizarCotacao</name>
        <label>Sincronizar Cotação</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <actionName>QuoteService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>AtualizarCampoSincronizado</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowQuotes</name>
            <value>
                <elementReference>BuscarCotacao</elementReference>
            </value>
        </inputParameters>
        <nameSegment>QuoteService</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>AtualizarCampoSincronizado</name>
        <label>Atualizar Campo Sincronizado</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>BuscarCotacao.Sincronizado__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AtualizarCotacao</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>[Quote] - Sincronizar Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[Quote] - Sincronizar Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>BuscarCotacao</name>
        <label>Buscar Cotação</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>TelaConfirmacao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>AtualizarCotacao</name>
        <label>AtualizarCotacao</label>
        <locationX>176</locationX>
        <locationY>566</locationY>
        <inputReference>BuscarCotacao</inputReference>
    </recordUpdates>
    <screens>
        <name>TelaConfirmacao</name>
        <label>Tela Confirmação</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>SincronizarCotacao</targetReference>
        </connector>
        <fields>
            <name>TextoConfirmacao</name>
            <fieldText>&lt;p&gt;A cotação &lt;strong&gt;{!BuscarCotacao.Name}&lt;/strong&gt; será sincronizada com a oportunidade &lt;strong&gt;{!BuscarCotacao.Opportunity.Name}&lt;/strong&gt; e seus produtos serão transferidos para a oportunidade.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Sincronizar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>BuscarCotacao</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
